.navigation{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(67, 67, 67, 0.8);
    color: white;
    padding: 0px 150px;
    position: fixed;      
    width: 84%;
    
}

.logo-item{
    display: inline-block;
    justify-content: space-evenly;
}

#my-name{
    padding-left: 70px;
}

img{
    padding-right: 3px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 35px;
} 


.menu{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

li{
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}


a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

/* hero css */

.hero{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(106, 106, 106);
}

#noMarginLeft{
    display: inline-block;
}

.heroText{
    display: inline-block;
    padding-left: 150px;
    padding-right: 300px;
    
}

h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 50px;
    
}

#hiImAlex{
    color: rgb(255, 154, 153);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 0;  
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

#role{
    margin-top: 0;
}

hr{
    color: rgb(67, 67, 67);
    border-top: 7px solid rgb(67, 67, 67);
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
}

.heroButtons{
    display: flex;
    justify-content: space-around;
}

.button1{
    display: inline-block;
    background-color: rgb(255, 154, 153);
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    height: 75px;
    width: 267px;
}

footer{
    background-color: rgba(67, 67, 67);
    display: flex;
}

.footerText{
    margin-left: 150px;
    margin-right: 60px;
    display: inline-block;
}

#footerDivide{
    color: white;
    border-top: 2px solid white;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
}

.footerLogos{
    display: flex;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-right: 80px;
}

#LI{
    display: inline-block
    justify-content: center;
}

#port{
    display: inline-block;
    justify-content: center;
}

.footerForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
    margin-right: 150px;
}

.button2{
    background-color: rgba(67, 67, 67);
    border: solid white 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    height: 75px;
    width: 267px;
    justify-content: center;
}

textarea{
    resize: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(86, 85, 85);
    color: white;
    border: solid white 2px;
    
}

#emailForm{
    background-color: rgb(67, 67, 67);
    border: none;
    border-bottom: solid white 2px;
    border-radius: 0;
    margin-top: 30px;
}

.copyright{
    background-color: rgb(67, 67, 67);
}

#copyright{
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
    margin-left: 150px;
}